<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helloworld1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>helloworld</display-name>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>com.helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloworld1</display-name>
    <servlet-name>helloworld1</servlet-name>
    <servlet-class>com.helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld1</servlet-name>
    <url-pattern>/helloworld1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServ</display-name>
    <servlet-name>DemoServ</servlet-name>
    <servlet-class>com.DemoServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServ</servlet-name>
    <url-pattern>/DemoServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServ1</display-name>
    <servlet-name>DemoServ1</servlet-name>
    <servlet-class>com.DemoServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServ1</servlet-name>
    <url-pattern>/DemoServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
</web-app>