<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .navbar1{



    position: relative;
  
    min-height: 50px;
  
    margin-bottom: 0px !important;
  
    border: 1px solid transparent;
  
    }
  </style>
   
  <div class="p-3 bg-secondary text-dark">
      <div class="p-2 bg-info" align="center"><h1><i class="fa fa-line-chart" style="font-size:100px;color:rgb(245, 240, 240)"></i>StockMarket</h1></div>

  </div>
  <nav class="navbar1 navbar navbar-expand-sm bg-dark">
    <ul class=" navbar-nav expand-lg bg-dark ">
        <li class="nav-item"><a style="color: aliceblue;"class="nav-link" href="#"><span class="fa fa-bar-chart"> Stockmarket</span></a>  </li>
    </ul>
    <ul class=" navbar-nav ml-auto">
      <li class="nav-item"> <a  style="color: aliceblue;"class="nav-link" href="home">&nbsp;<span class="fa fa-home"> Home</span></a> </li>
      <li class="nav-item"><a style="color: aliceblue; "class="nav-link" href="/login">&nbsp;<span class="fa fa-sign-in"></span> Login</a></li>
      <li class="nav-item"><a style="color: aliceblue; "class="nav-link" href="/signup">&nbsp;<span class="fa fa-user"></span> Signup</a> </li>
      <!-- <li class="nav-item"><a style="color: aliceblue; "class="nav-link" href="/userlist"><span class="fa fa-user"></span>userlist</a> </li> -->
    </ul>
  </nav>
  
