<!DOCTYPE html>







<html lang="en">







<head>







  <meta charset="utf-8">







  <meta name="viewport" content="width=device-width, initial-scale=1">



  <style>

    body {
   
     color: #fff;
   
     background-image: url("https://images.pexels.com/photos/2539658/pexels-photo-2539658.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   
     background-repeat: no-repeat;
   
     background-size: 1400px 700px;
   
    }
    *
    {
      color:antiquewhite
    }
    .d
    {
      background-color: black;
    }
</style>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">







  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>







  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>







</head>







<body>







  <button type="button" class="btn btn-dark"><a routerLink="/addcompany">Add Company</a></button>&nbsp;&nbsp;&nbsp;



  <div class="container">







    <h2 style="color: black;">Company-Details</h2>





    <div class="d">

    <table class="table">







      <thead class="thead">
        <tr>

          <th><b>Companyname</b></th>
          <th><b>ceo</b></th>
          <th><b>boardofdirectors</b></th>
          <th><b>sector</b></th>
          <th><b>briefwriteup</b></th>
          <th><b>turnover</b></th>
          <th><b>listedinstock</b></th>
          <th><b>stockcode</b></th>



        </tr>
      </thead>
            <tbody>

        <tr *ngFor="let user of companyList ">



          <td>{{user.companyname}}</td>



          <td>{{user.ceo}}</td>



          <td>{{user.boardofdirectors}}</td>



          <td>{{user.sector}}</td>



          <td>{{user.briefwriteup}}</td>



          <td>{{user.turnover}}</td>



          <td>{{user.listedinstock}}</td>



          <td>{{user.stockcode}}</td>

          <td><button (click)="deleteCompany(user)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button> &nbsp;

            <button (click)="updateCompany(user)" class='btn btn-info'
       
            data-toggle="modal" data-target="#myModal">Update</button>
       
           </td>





        </tr>







      </tbody>







    </table>






    </div>
  </div>







  <button type="button" class='btn btn-dark'><a routerLink='/admindata'>Back</a></button>



  <br><br><br><br><br><br><br><br><br>



</body>







</html>